.toolbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #1976d2;
    color: white;
    
  }
  .toolbar .logo {
    margin: 0 50px;
    font-size: 40px;
    font-weight: 500;

  }
  .spacer {
    flex: 1;
  }
  .toolbar #link-style {
    margin: 0 15px;
    text-decoration: none;
    color:#fff;
    font-size:14px;
    font-weight:500;


  }

 