
  

<div class="toolbar" role="banner">
    <div class="logo">
        FTR
    </div>
    
      <div class="spacer"></div>
      <a routerLink="workitem" id="link-style">
        workitem
      </a>
      <a href="" id="link-style">
         view profile
      </a>
      <a href="" id="link-style">
        Logout
      </a>
  </div>