<div class="container">
    <mat-toolbar >
        <span>{{this.form.value.workitemId==null?"Create Work Item":"Update Work Item"}}</span>
        <span class="fill-remaining-space"></span>
        <button class="btn-dialog-close" mat-stroked-button (click)="onClose()" tabIndex="-1"><mat-icon>clear</mat-icon></button>
    </mat-toolbar>
<form [formGroup]="form" class="normal-form" (ngSubmit)="submitForm()">

    <mat-grid-list cols="2" rowHeight="300px">
        <mat-grid-tile>
            <div class="controles-container">
                <input type="hidden" formControlName="workitemId">
                <mat-form-field>
                        <input formControlName="itemName" matInput placeholder="Item Name">
                        <mat-error *ngIf="myError('itemName', 'required')">This Field is required</mat-error>
                        <mat-error *ngIf="myError('itemName', 'minlength')">minimum length sholud be 3</mat-error>
                        <mat-error *ngIf="myError('itemName', 'maxlength')">maximum length is 25</mat-error>
                </mat-form-field>
                <mat-form-field>
                    <input formControlName="itemType" matInput placeholder="Item Type">
                    <mat-error *ngIf="myError('itemType', 'required')">This Field is required</mat-error>
                    <mat-error *ngIf="myError('itemType', 'minlength')">minimum length sholud be 4</mat-error>
                    <mat-error *ngIf="myError('itemType', 'maxlength')">maximum length is 25</mat-error>
            </mat-form-field>
            <mat-form-field>
                <textarea formControlName="itemDescription" matInput placeholder="Item Description"></textarea>
                <mat-error *ngIf="myError('itemDescription', 'required')">This Field is required</mat-error>
                <mat-error *ngIf="myError('itemDescription', 'minlength')">minimum length sholud be 10</mat-error>
                <mat-error *ngIf="myError('itemDescription', 'maxlength')">maximum length is 45</mat-error>
            </mat-form-field>
            <mat-form-field>
                <textarea formControlName="messageToRecipient" matInput placeholder="Message To Recipient"></textarea>
                <mat-error *ngIf="myError('messageToRecipient', 'required')">This Field is required</mat-error>
                <mat-error *ngIf="myError('messageToRecipient', 'minlength')">minimum length sholud be 10</mat-error>
                <mat-error *ngIf="myError('messageToRecipient', 'maxlength')">maximum length is 50</mat-error>
            </mat-form-field>

            </div>
        </mat-grid-tile>
        <mat-grid-tile>
            <div class="controles-container">
                <div class="add-bottom-padding">
                    <mat-form-field id="width-100">
                        <input formControlName="capacity" matInput placeholder="Capacity" >
                        <mat-error *ngIf="myError('capacity', 'required')">This Field is required</mat-error>
                        <mat-error *ngIf="myError('capacity', 'pattern')">Enter only digits</mat-error>
                    </mat-form-field>
                    <mat-form-field id="width-50">
                       
                        <mat-select formControlName="sourceCountry" matInput placeholder="SourceCountry">
                            <mat-option>None</mat-option>
                            <ng-container *ngFor="let country of countries">
                                <mat-option value="{{country.name}}">{{country.name}}</mat-option>
                            </ng-container>
                        </mat-select>
                        <mat-error *ngIf="myError('sourceCountry', 'required')">This Field is required</mat-error>
                    </mat-form-field>
                    <mat-form-field id="not-100">
                        <mat-select formControlName="destinationCountry" matInput placeholder="Destination Country">
                            <mat-option>None</mat-option>
                            <ng-container *ngFor="let country of countries">
                                <mat-option value="{{country.name}}">{{country.name}}</mat-option>
                            </ng-container>
                           
                        </mat-select>
                        <mat-error *ngIf="myError('destinationCountry', 'required')">This Field is required</mat-error>
                    </mat-form-field>
                    <mat-form-field id="width-50">
                       
                        <mat-select formControlName="availableHarborLocations" matInput placeholder="availableHarborLocations">
                            <mat-option>None</mat-option>
                            <ng-container *ngFor="let country of countries">
                                <mat-option value="{{country.id}}">{{country.name}}</mat-option>


                            </ng-container>
                          
                        </mat-select>
                        <mat-error *ngIf="myError('availableHarborLocations', 'required')">This Field is required</mat-error>
                    </mat-form-field>
                    <mat-form-field appearance="fill" id="not-100">
                        <mat-label>Shipping date</mat-label>
                        <input matInput [matDatepicker]="picker" formControlName="shippingDate">
                       
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                        <mat-error *ngIf="myError('shippingDate', 'required')">This Field is required</mat-error>
                      </mat-form-field>
                      <div class="button-row">

                            <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid">Submit</button>
                            <button mat-raised-button color="warn" type="reset"  (click)="onClear()">Clear</button>


                      </div>
                </div>
            </div>
        </mat-grid-tile>
    </mat-grid-list>


</form>
</div>