
form .normal-form{
    margin:10px;
}
.controles-container{
    width:100%;
    padding:5%;
}
.controles-container > *{
    width:100%;
    margin-top: 20px;
}

.add-bottom-padding{
    padding-bottom: 10px;
}
#width-100{
    width:100%;
    margin-bottom: 20px;
    
}
#not-100{
    width:50%;
    margin-left:5%;
    margin-bottom: 20px;
}
#width-50{
    width:45%;
    margin-bottom: 10px;
}
.button-row button{
    margin:5px;
}
.fill-remaining-space{
    flex:1 1 auto;
}
.btn-dialog-close{
    width:45px;
    min-width:0px !important;
    height:40px;
    padding: 0px !important;

}