<div class="container">
<div class="header">
    <div class="center">work Items</div>
</div>
<div class="search-div">
    <button mat-raised-button (click)="onCreate()">

        <mat-icon>add</mat-icon>Create
    </button>
    <mat-form-field class="search-form-field" floatLabel="never">
        <input matInput [(ngModel)]="searchKey" placeholder="Search" autocomplete="off" id="inputbox" (keyup)="applyFilter()">
        <button mat-button matSuffix mat-icon-button aria-label="Clear" id="inputbutton" *ngIf="searchKey" (click)="onsearchclear()">
            <mat-icon>close</mat-icon>
        </button>
    </mat-form-field>
</div>
<div class="mat-elevation-z8">
<table mat-table [dataSource]="workitems"  matSort (matSortChange)="announceSortChange($event)">

  
    
  
    <!-- Name Column -->
    <ng-container matColumnDef="itemName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
      <td mat-cell *matCellDef="let element"> {{element.itemName}} </td>
    </ng-container>
  
    <!-- Type Column -->
    <ng-container matColumnDef="itemType">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Type </th>
      <td mat-cell *matCellDef="let element"> {{element.itemType}} </td>
    </ng-container>
    
    <!-- Quantity Column -->
    <ng-container matColumnDef="capacity">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Quantity </th>
      <td mat-cell *matCellDef="let element"> {{element.capacity}} </td>
    </ng-container>

    <!-- From Column -->
    <ng-container matColumnDef="collectionCountry">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> From </th>
        <td mat-cell *matCellDef="let element"> {{element.sourceCountry}} </td>
    </ng-container>
    <!-- To Column -->
    <ng-container matColumnDef="destinationCountry">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> To</th>
        <td mat-cell *matCellDef="let element"> {{element.destinationCountry}} </td>
    </ng-container>
    <!-- LOcation Column -->
    <ng-container matColumnDef="HarborLocation">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Location</th>
        <td mat-cell *matCellDef="let element"> {{element.availableHarborLocations}} </td>
    </ng-container>
    <!-- Shippingdae Column -->
    <ng-container matColumnDef="shippingDate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> ShippingDate</th>
        <td mat-cell *matCellDef="let element"> {{element.shippingDate}} </td>
    </ng-container>
    <!-- Amount Column -->
    <ng-container matColumnDef="Amount">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Amount</th>
        <td mat-cell *matCellDef="let element"> {{element.Amount}}</td> 
    </ng-container>
    <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let row"> <button mat-icon-button (click)="onEdit(row)"><mat-icon>launch</mat-icon></button></td>
        
    </ng-container>

    <ng-container matColumnDef="Loading">
        <td colspan="6" mat-footer-cell *matFooterCellDef> Loading data....</td>
       
    </ng-container>
    

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    <mat-footer-row *matFooterRowDef="['Loading']" [ngClass]="{'hide':workitems!=null}"></mat-footer-row>
    
  </table>
  <mat-paginator #paginator
              [pageSize]="5"
              [pageSizeOptions]="[5, 10, 25, 100]"
              showFirstLastButtons>
    </mat-paginator>
    </div>
</div>