table{ 
    
    overflow-x:scroll;
    width:100%;
}
.container{
    margin:100px 100px 0px 100px;
}
.center{
    display: flex;
    justify-content: center;
    font-size:25px;
    padding: 15px;
}
.header{
    margin-bottom:20px;
    background-color: rgb(243, 246, 234);

}
table th{
    font-size:13px;   
}
.hide{
    display:none;

}
.search-div{
    margin:10px;
}
.search-form-field{
    width: 60%;
    height:30px;
    margin-left:10px;
    background-color:#f5f5f5;
    padding: 5px 10px;
    border-radius: 5px;
}
::ng-deep .search-form-field .mat-form-field-underline {
    display: none;
}
::ng-deep .mat-form-field-flex > .mat-form-field-infix { border-top: 0px  !important;}
::ng-deep .mat-form-field-label-wrapper { top:-10px }
#inputbutton { 
    height: 30px;
    width: 30px;
}
